<div class='row'>
  <h1>Admin Dashboard</h1>
</div>
<div class='row'>
  <div class='col-xs-6 text-center'>
    <h2>Product Count</h2>
    <h2><%= @number_of_products %></h2>
    <h4><%= link_to 'Registered Products', admin_products_path %></h4>

  </div>
  <div class='col-xs-6 text-center'>
    <h2>Category Count</h2>
    <h2><%= @number_of_categories %></h2>
  </div>
</div>